/* This stylesheet is for testing CSS, styles here will not be deactivated when toggling wireframe style *./

/* Wireframe toggle button */
#toggleWireframeCSS {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 6px 10px;
  opacity: 0.5;
}
#toggleWireframeCSS:hover {
  opacity: 1;
}

body, 
#more-about-me {
  display:grid;
}

#more-about-me {
  grid-template-columns: auto 1fr;
  grid-gap: 0.2em 0.5em;
}

#more-about-me h3 {
  margin: 5px 0px 0px 5px;
}
#more-about-me div {
  border: thin dotted #aaa;
  background-color:#1111;
}

@media only screen and (max-width: 1200px) {
  #more-about-me {
    grid-template-columns: auto;
  }
}